@using HealthingHand.Web.Components.Layout
@using HealthingHand.Web.Components.Pages
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly"
            NotFoundPage="@typeof(NotFound)">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>

        <Navigating>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Loading...</p>
            </LayoutView>
        </Navigating>
    </Router>
</CascadingAuthenticationState>